In [2]:
#import data 
import pandas as pd
df=pd.read_csv("../datasets/Sleep_health_and_lifestyle_dataset.csv")
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
#get number of rows
num_rows = len(df)
len(df)

374

In [4]:
# List of occupations
occupations_list = df['Occupation'].unique()

# Create a DataFrame from the list
List_of_occupations_df = pd.DataFrame(occupations_list, columns=['Occupation'])

# Display the DataFrame
print(df)

     Person ID  Gender  Age            Occupation  Sleep Duration  \
0            1    Male   27     Software Engineer             6.1
1            2    Male   28                Doctor             6.2
2            3    Male   28                Doctor             6.2
3            4    Male   28  Sales Representative             5.9
4            5    Male   28  Sales Representative             5.9
..         ...     ...  ...                   ...             ...
369        370  Female   59                 Nurse             8.1
370        371  Female   59                 Nurse             8.0
371        372  Female   59                 Nurse             8.1
372        373  Female   59                 Nurse             8.1
373        374  Female   59                 Nurse             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                   6                       42             6   Overweight
1                   6                       60             8       Normal
2                   6                       60             8       Normal
3                   4                       30             8        Obese
4                   4                       30             8        Obese
..                ...                      ...           ...          ...
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0           126/83          77         4200            NaN
1           125/80          75        10000            NaN
2           125/80          75        10000            NaN
3           140/90          85         3000    Sleep Apnea
4           140/90          85         3000    Sleep Apnea
..             ...         ...          ...            ...
369         140/95          68         7000    Sleep Apnea
370         140/95          68         7000    Sleep Apnea
371         140/95          68         7000    Sleep Apnea
372         140/95          68         7000    Sleep Apnea
373         140/95          68         7000    Sleep Apnea

[374 rows x 13 columns]

In [5]:
#average age of partcipant 
average_age=df['Age'].mean()
print("Average Age of Participants:", average_age)

#average stress level of partcipant 
average_stress_level=df["Stress Level"]
print("Average Stress Level of Participants:", average_stress_level)

Average Age of Participants: 42.18449197860963
Average Stress Level of Participants: 0      6
1      8
2      8
3      8
4      8
      ..
369    3
370    3
371    3
372    3
373    3
Name: Stress Level, Length: 374, dtype: int64

In [6]:
#seperate data for only men
male_df = df[df['Gender'] == 'Male']
male_df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [7]:
#seperate data for women only
female_df = df[df['Gender'] == 'Female']
female_df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
16,17,Female,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Sleep Apnea
18,19,Female,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Insomnia
30,31,Female,30,Nurse,6.4,5,35,7,Normal Weight,130/86,78,4100,Sleep Apnea
31,32,Female,30,Nurse,6.4,5,35,7,Normal Weight,130/86,78,4100,Insomnia
32,33,Female,31,Nurse,7.9,8,75,4,Normal Weight,117/76,69,6800,NaN

In [8]:
#average hours women slept
female_sleep_time_average = female_df['Sleep Duration'].mean()

#average age of female partcipant 
female_average_age=female_df["Age"].mean()

#average hours men slept 
male_sleep_time_average = male_df['Sleep Duration'].mean()

#average age of male partcipant 
male_average_age=male_df["Age"].mean()

print("Average Hours Slept by Women:", female_sleep_time_average)
print("Average Age of Female Participants:", female_average_age)
print("Average Hours Slept by Men:", male_sleep_time_average)
print("Average Age of Male Participants:", male_average_age)

Average Hours Slept by Women: 7.22972972972973
Average Age of Female Participants: 47.4054054054054
Average Hours Slept by Men: 7.036507936507937
Average Age of Male Participants: 37.074074074074076

In [9]:
#occupations 

#Group the data by occupation and calculate the average hours slept for men in each occupation
average_hours_slept_by_occupation_men = male_df.groupby('Occupation')['Sleep Duration'].mean() 

#average stress level for each occupation
average_stress_level_by_occupation_men = male_df.groupby('Occupation')['Stress Level'].mean()  

print("Average Hours Slept by Men in Each Occupation:")
print(average_hours_slept_by_occupation_men)
print("\nAverage Stress Level for Men in Each Occupation:")
print(average_stress_level_by_occupation_men)

Average Hours Slept by Men in Each Occupation:
Occupation
Accountant              7.200000
Doctor                  6.934783
Engineer                7.535484
Lawyer                  7.422222
Sales Representative    5.900000
Salesperson             6.403125
Software Engineer       6.750000
Teacher                 6.580000
Name: Sleep Duration, dtype: float64

Average Stress Level for Men in Each Occupation:
Occupation
Accountant              6.000000
Doctor                  6.840580
Engineer                4.806452
Lawyer                  5.044444
Sales Representative    8.000000
Salesperson             7.000000
Software Engineer       6.000000
Teacher                 6.200000
Name: Stress Level, dtype: float64

In [10]:
#average quality of sleep for each occupation
average_sleep_quality_by_occupation_men =male_df.groupby('Occupation')['Quality of Sleep'].mean()

print("\nAverage Quality of Sleep for men in Each Occupation:")
print(average_sleep_quality_by_occupation_men)

Average Quality of Sleep for men in Each Occupation:
Occupation
Accountant              8.000000
Doctor                  6.579710
Engineer                7.806452
Lawyer                  7.933333
Sales Representative    4.000000
Salesperson             6.000000
Software Engineer       6.500000
Teacher                 6.000000
Name: Quality of Sleep, dtype: float64

In [11]:
#Group the data by occupation and calculate the average hours slept for men in each occupation
average_hours_slept_by_occupation_women = female_df.groupby('Occupation')['Sleep Duration'].mean() 

#average stress level for each occupation
average_stress_level_by_occupation_women = female_df.groupby('Occupation')['Stress Level'].mean() 

print("Average Hours Slept by Women in Each Occupation:")
print(average_hours_slept_by_occupation_women)
print("\nAverage Stress Level for Women in Each Occupation:")
print(average_stress_level_by_occupation_women)

Average Hours Slept by Women in Each Occupation:
Occupation
Accountant    7.111111
Doctor        8.200000
Engineer      8.425000
Lawyer        7.150000
Manager       6.900000
Nurse         7.063014
Scientist     6.000000
Teacher       6.705714
Name: Sleep Duration, dtype: float64

Average Stress Level for Women in Each Occupation:
Occupation
Accountant    4.555556
Doctor        3.000000
Engineer      3.000000
Lawyer        5.500000
Manager       5.000000
Nurse         5.547945
Scientist     7.000000
Teacher       4.285714
Name: Stress Level, dtype: float64

In [12]:
#average quality of sleep for each occupation
average_sleep_quality_by_occupation_women = female_df.groupby('Occupation')['Quality of Sleep'].mean() 

print("\nAverage Quality of Sleep for Women in Each Occupation:")
print(average_sleep_quality_by_occupation_women)

Average Quality of Sleep for Women in Each Occupation:
Occupation
Accountant    7.888889
Doctor        9.000000
Engineer      9.000000
Lawyer        7.000000
Manager       7.000000
Nurse         7.369863
Scientist     5.000000
Teacher       7.114286
Name: Quality of Sleep, dtype: float64

In [13]:
#Group the data by age range and calculate the average 
# hours slept for men and women in each age group

######I dont think this is right, something about the data adn hours slept#######
data = {
    'age': [25, 30, 35, 40, 45, 50, 55, 60],
    'gender': ['M', 'M', 'F', 'M', 'F', 'M', 'F', 'F'],
    'hours_slept': [7, 8, 6, 7, 6, 8, 7, 6]
}

df = pd.DataFrame(data)

# Define age ranges
age_ranges = {
    (20, 30): '20-30',
    (31, 40): '31-40',
    (41, 50): '41-50',
    (51, 60): '51-60'
}

# Assign age ranges to each row
df['age_range'] = pd.cut(df['age'], bins=[20, 30, 40, 50, 60], labels=['20-30', '31-40', '41-50', '51-60'])

# Group by age range and gender, and calculate the average hours slept
Average_hours_slept_by_age_range = df.groupby(['age_range', 'gender'])['hours_slept'].mean()

print(Average_hours_slept_by_age_range)

age_range  gender
20-30      F         NaN
           M         7.5
31-40      F         6.0
           M         7.0
41-50      F         6.0
           M         8.0
51-60      F         6.5
           M         NaN
Name: hours_slept, dtype: float64

C:\Users\thoma\AppData\Local\Temp\ipykernel_38324\2572427652.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  Average_hours_slept_by_age_range = df.groupby(['age_range', 'gender'])['hours_slept'].mean()